menu "Config Weather Station"

    config STATION_WIFI_SSID
        string "Wi-Fi SSID"
	default ""
        help
            SSID (network name) for the example to connect to.

    config STATION_WIFI_PASSWORD
        string "Wi-Fi Password"
	default ""
        help
            WiFi password (WPA or WPA2) for the example to use.

    config STATION_URL
        string "URL"
	default ""

    config STATION_HOST
        string "Host"
	default ""
endmenu
